[[extend 'layout.html']]

<!-- Page Title -->
<section class="hero has-background-link-light">
  <div class="hero-body">
     <h1 class="title">Charitably</h1>
  </div>
</section>

[[if email:]]
<div class="section">
  <div class ="box">
    <p>Somethings wrong... I can feel it</p>
    <p>(you shouldn't be able to get here)</p>
  </div>
</div>

[[else:]]
<div class="section">
  <div class ="box">
    <p>Log in or sign up to get started today!</p>
  </div>
</div>

[[pass]]

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script src="js/index.js"></script>
[[end]]
