[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>

<!---------------------------------------------------------------------------------------
Standard Banner
---------------------------------------------------------------------------------------->
<section class="hero has-background-link-light">
  <div class="hero-body">
     <h1 class="title">Charitably</h1>
  </div>
</section>

<!---------------------------------------------------------------------------------------
Actual user content: We go here only when the user is logged in
---------------------------------------------------------------------------------------->
[[if email:]]
<div class="section" id="vue-target" v-cloak>
<!-- Put here your Vue.js template -->

  <a class="button is-primary" href="[[=back_url]]"><span><i class="fa fa-backward"></i> Back</span></a>  
  <div class="section">
    <div v-if="is_empty" class="box">
      <p>You haven't made an contributions yet! Once you do we'll begin to generate a report here.</p>
    </div>
    
    <div v-else>

      <div class="box">
        <p class="subtitle">Individual Allocations</title>
        <table class="table is-narrow is-fullwidth is-striped">
          <thead>
            <th>Organization</th>
            <th>Contributor</th>
            <th>Amount</th>
          </thead>
          <tr v-for="a in allocations.slice()">
            <td>{{a.org_name}}</td>
            <td>{{a.user_name}}</td>
            <td>{{a.amount}}</td>        
          </tr>
        </table>
      </div>

      <div class="box">
        <p class="subtitle">Summary</title>
        <table class="table is-narrow is-fullwidth is-striped">
          <thead>
            <th>Organization</th>
            <th>Total Contribution</th>
            <th>Number of Contributions</th>
          </thead>
          <tr v-for="r in summary.slice()">
            <td>{{r.org_name}}</td>          
            <td>{{r.total}}</td>
            <td>{{r.count}}</td>        
          </tr>
        </table>
      </div>

    </div>
  </div>
</div> <!-- The end of the div controlled by Vue -->

<!---------------------------------------------------------------------------------------
  We go here if the user is not logged in BUT this should never happen!!!
---------------------------------------------------------------------------------------->
[[else:]]
<div class="section">
  <p class="box">Log in or sign up to get started today!</p>
  <div class ="box">
    <p>Somethings wrong... I can feel it</p>
    <p>(you shouldn't be able to get here)</p>
  </div>
</div>
[[pass]]

[[block page_scripts]]

<!-- Loads the index-specific js for Vue -->
<script>

  let group_id = "[[=group_id]]"
  let group_allocations_url = "[[=XML(group_allocations_url)]]"
</script>

<script src="js/group_report.js"></script>
[[end]]
