[[extend 'layout.html']]

<!---------------------------------------------------------------------------------------
Standard Banner
---------------------------------------------------------------------------------------->
<section class="hero has-background-link-light">
  <div class="hero-body">
     <h1 class="title">Charitably</h1>
  </div>
</section>

<!---------------------------------------------------------------------------------------
Actual user content: We go here only when the user is logged in
---------------------------------------------------------------------------------------->
[[if email:]]

<div class="section">
  <!-- Organizations List-->
  <div class="columns is-multiline">

    <!-- Card for each organization -->
    [[for group in groups:]]
      <div class="column">
        
          <div onclick=document.location="[[=URL('organizations', group['id'], signer=url_signer) ]]" class="card">
            <div class="card-header has-background-link-light">
              <p class="card-header-title">[[=group["group_name"] ]]</p>
            </div>
            <div class="card-content">
              <p>[[=group["group_desc"] ]]</p>
            </div>
          </div> <!-- End Card-->

      </div> <!-- End List -->
    [[pass]]
  </div>
</div>

<!---------------------------------------------------------------------------------------
  We go here if the user is not logged in BUT this should never happen!!!
---------------------------------------------------------------------------------------->
[[else:]]
<div class="section">
  <p class="box">Log in or sign up to get started today!</p>
  <div class ="box">
    <p>Somethings wrong... I can feel it</p>
    <p>(you shouldn't be able to get here)</p>
  </div>
</div>
[[pass]]
