[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>

<!---------------------------------------------------------------------------------------
Standard Banner
---------------------------------------------------------------------------------------->
<section class="hero has-background-link-light">
  <div class="hero-body">
     <h1 class="title">Charitably</h1>
  </div>
</section>

<!---------------------------------------------------------------------------------------
Actual user content: We go here only when the user is logged in
---------------------------------------------------------------------------------------->
[[if email:]]
<div class="section" id="vue-target" v-cloak>
<!-- Put here your Vue.js template -->

  <!-- Organizations List-->
  <div class="columns">
    
    <!-- Orgs column-->
    <div class="column is-8">    

      <!-- Add button -->
      <div class="container block">
        <button @click="set_add_status('modal is-active')" class="button is-primary">
          <i class="fa fa-plus fa-fw"></i>
        </button>
      </div>
      
      <!-- Card for each organization -->
      <div v-for="o in orgs.slice()" class="block">
          <div class="card">
            <div class="card-header has-background-link-light">
              <p class="card-header-title">{{o.org_name}}</p>
            </div>
            <div class="card-content">
              <label class="label">Description</label>
              <p>{{o.org_description}}</p>
            </div>
            <div class="card-footer">
              <span class="card-footer-item">{{o.proposed_by}}</span>
              <a v-bind:href="o.org_web" class="card-footer-item">Website</a>
              <span v-if="o.deleteable" @click="delete_post(o._idx)" class="card-footer-item"><i class="fa fa-edit has-text-warning"></i></span>
              <span v-if="o.deleteable" @click="delete_org(o._idx)" class="card-footer-item"><i class="fa fa-trash has-text-danger"></i></span>
            </div>
          </div> <!-- End Card-->
      </div> <!-- End List -->
    </div>

    <!-- Allocations Column -->
    <div class="column is-4">
      <div class="box">
        <label class="label">Your allocations</label>
        <nav v-for="a in allocations.slice()" class="level">
          <div class="level-left">
            <div class="level-item">
              <p class="subtitle">{{a.org_name}}</p>    
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <p class="subtitle">{{a.amount}}</p>    
            </div>
          </div>
        </nav>
      </div>

    </div>
  </div>

  <!---------------------------------------------------------------------------------------
  Add org card modal: is put in to view when the user clicks the plus button
  * Contains form for: Name, Website, Description
  * Can click submit when finished or cancel to exit
  ---------------------------------------------------------------------------------------->
  <div :class="modal_active">
    <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <!-- Title -->
          <p class="modal-card-title">Add an organization</p>
          <button class="delete"  @click="set_add_status('modal')" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          
          <!-- Form fields -->
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input type="text" v-model="new_org_name" class="input">
            </div>

            <label class="label">Website</label>
            <div class="control">
              <input type="text" v-model="new_org_web" class="input">
            </div>

            <label class="label">Description</label>
            <div class="control">
              <textarea type="text" v-model="new_org_description" class="textarea" placeholder="Tell us why this organization is important to you..."></textarea>
            </div>
          </div>
          
          
        </section>
        <footer class="modal-card-foot">
          <!-- Submit / Cancel  buttons -->
          <div class="field">
            <div class="control">
              <input type="submit" @click="add_org()" value="Submit" class="button is-primary">
              <input type="submit" @click="set_add_status('modal')" value="Cancel" class="button is-warning">
            </div>
          </div>
        </footer>
      </div>

  </div>

</div> <!-- The end of the div controlled by Vue -->

<!---------------------------------------------------------------------------------------
  We go here if the user is not logged in BUT this should never happen!!!
---------------------------------------------------------------------------------------->
[[else:]]
<div class="section">
  <p class="box">Log in or sign up to get started today!</p>
  <div class ="box">
    <p>Somethings wrong... I can feel it</p>
    <p>(you shouldn't be able to get here)</p>
  </div>
</div>
[[pass]]

[[block page_scripts]]

<!-- Loads the index-specific js for Vue -->
<script>
  let load_orgs_url = "[[=XML(load_orgs_url)]]"
  let add_org_url = "[[=XML(add_org_url)]]"
  let delete_org_url = "[[=XML(delete_org_url)]]"
  let edit_org_url = "[[=XML(edit_org_url)]]"
</script>
<script src="js/orgs_view.js"></script>
[[end]]
